Model Fitting/MLP/Training Data/createNewTrainingData.m
Model Fitting/MLP/Training Data/No VASC VERDICT/Original Full/Noise Model - Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Original Full/Noise Model - Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Original Full/Noise Model - Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Original Full/Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Original Full/Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Original Full/Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Original ex905003000/Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Original ex905003000/Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Original ex905003000/Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Short Scheme v1/Noise Model - Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Short Scheme v1/Noise Model - Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Short Scheme v1/Noise Model - Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Short Scheme v1/Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Short Scheme v1/Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Short Scheme v1/Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/Original VERDICT/Original Full/Noise Model - Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/Original VERDICT/Original Full/Noise Model - Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/Original VERDICT/Original Full/Noise Model - Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/Original VERDICT/Original Full/Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/Original VERDICT/Original Full/Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/Original VERDICT/Original Full/Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/Original VERDICT/Original ex905003000/Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/Original VERDICT/Original ex905003000/Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/Original VERDICT/Original ex905003000/Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/Original VERDICT/Short Scheme v1/Noise Model - Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/Original VERDICT/Short Scheme v1/Noise Model - Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/Original VERDICT/Short Scheme v1/Noise Model - Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/Original VERDICT/Short Scheme v1/Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/Original VERDICT/Short Scheme v1/Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/Original VERDICT/Short Scheme v1/Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original Full/Noise Model - Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original Full/Noise Model - Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original Full/Noise Model - Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original Full/Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original Full/Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original Full/Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original ex905003000/Noise Model - Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original ex905003000/Noise Model - Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original ex905003000/Noise Model - Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original ex905003000/Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original ex905003000/Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original ex905003000/Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/RDI v1.3/Short Scheme v1/Noise Model - Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/RDI v1.3/Short Scheme v1/Noise Model - Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/RDI v1.3/Short Scheme v1/Noise Model - Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/RDI v1.3/Short Scheme v1/Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/RDI v1.3/Short Scheme v1/Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/RDI v1.3/Short Scheme v1/Rice/T2_10000/sigma_0.05/signals.mat
Quantitative Analysis/Figures/P1P2.fig
Quantitative Analysis/Figures/P1P2.png
Quantitative Analysis/Figures/P1P3.fig
Quantitative Analysis/Figures/P1P3.png
Quantitative Analysis/Figures/P1P4.fig
Quantitative Analysis/Figures/P1P4.png
Quantitative Analysis/Figures/P2P3.fig
Quantitative Analysis/Figures/P2P3.png
Quantitative Analysis/Figures/P2P4.fig
Quantitative Analysis/Figures/P2P4.png
Quantitative Analysis/Figures/P3P4.fig
Quantitative Analysis/Figures/P3P4.png
