Model Fitting/MLP/Training Data/createNewTrainingData.m
Model Fitting/MLP/Training Data/No VASC VERDICT/Original Full/Noise Model - Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Original Full/Noise Model - Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Original Full/Noise Model - Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Original Full/Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Original Full/Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Original Full/Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Original ex905003000/Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Original ex905003000/Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Original ex905003000/Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Short Scheme v1/Noise Model - Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Short Scheme v1/Noise Model - Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Short Scheme v1/Noise Model - Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Short Scheme v1/Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Short Scheme v1/Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/No VASC VERDICT/Short Scheme v1/Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/Original VERDICT/Original Full/Noise Model - Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/Original VERDICT/Original Full/Noise Model - Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/Original VERDICT/Original Full/Noise Model - Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/Original VERDICT/Original Full/Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/Original VERDICT/Original Full/Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/Original VERDICT/Original Full/Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/Original VERDICT/Original ex905003000/Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/Original VERDICT/Original ex905003000/Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/Original VERDICT/Original ex905003000/Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/Original VERDICT/Short Scheme v1/Noise Model - Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/Original VERDICT/Short Scheme v1/Noise Model - Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/Original VERDICT/Short Scheme v1/Noise Model - Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/Original VERDICT/Short Scheme v1/Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/Original VERDICT/Short Scheme v1/Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/Original VERDICT/Short Scheme v1/Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original Full/Noise Model - Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original Full/Noise Model - Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original Full/Noise Model - Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original Full/Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original Full/Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original Full/Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original ex905003000/Noise Model - Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original ex905003000/Noise Model - Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original ex905003000/Noise Model - Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original ex905003000/Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original ex905003000/Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/RDI v1.3/Original ex905003000/Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/RDI v1.3/Short Scheme v1/Noise Model - Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/RDI v1.3/Short Scheme v1/Noise Model - Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/RDI v1.3/Short Scheme v1/Noise Model - Rice/T2_10000/sigma_0.05/signals.mat
Model Fitting/MLP/Training Data/RDI v1.3/Short Scheme v1/Rice/T2_10000/sigma_0.05/Meta.mat
Model Fitting/MLP/Training Data/RDI v1.3/Short Scheme v1/Rice/T2_10000/sigma_0.05/params.mat
Model Fitting/MLP/Training Data/RDI v1.3/Short Scheme v1/Rice/T2_10000/sigma_0.05/signals.mat
Quantitative Analysis/Figures/P1P2.fig
Quantitative Analysis/Figures/P1P2.png
Quantitative Analysis/Figures/P1P3.fig
Quantitative Analysis/Figures/P1P3.png
Quantitative Analysis/Figures/P1P4.fig
Quantitative Analysis/Figures/P1P4.png
Quantitative Analysis/Figures/P2P3.fig
Quantitative Analysis/Figures/P2P3.png
Quantitative Analysis/Figures/P2P4.fig
Quantitative Analysis/Figures/P2P4.png
Quantitative Analysis/Figures/P3P4.fig
Quantitative Analysis/Figures/P3P4.png
Signal Simulation/Calibration Curves/SNRs.mat
Signal Simulation/Calibration Curves/SNR 0.1/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 0.1/SigmaCalibration.mat
Signal Simulation/Calibration Curves/SNR 0.2/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 0.2/SigmaCalibration.mat
Signal Simulation/Calibration Curves/SNR 0.3/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 0.3/SigmaCalibration.mat
Signal Simulation/Calibration Curves/SNR 0.4/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 0.4/SigmaCalibration.mat
Signal Simulation/Calibration Curves/SNR 0.5/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 0.5/SigmaCalibration.mat
Signal Simulation/Calibration Curves/SNR 0.6/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 0.6/SigmaCalibration.mat
Signal Simulation/Calibration Curves/SNR 0.8/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 0.8/SigmaCalibration.mat
Signal Simulation/Calibration Curves/SNR 1/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 1/SigmaCalibration.mat
Signal Simulation/Calibration Curves/SNR 1.2/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 1.2/SigmaCalibration.mat
Signal Simulation/Calibration Curves/SNR 1.4/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 1.4/SigmaCalibration.mat
Signal Simulation/Calibration Curves/SNR 1.6/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 1.6/SigmaCalibration.mat
Signal Simulation/Calibration Curves/SNR 1.8/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 1.8/SigmaCalibration.mat
Signal Simulation/Calibration Curves/SNR 10/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 10/SigmaCalibration.mat
Signal Simulation/Calibration Curves/SNR 2/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 2/SigmaCalibration.mat
Signal Simulation/Calibration Curves/SNR 2.25/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 2.25/SigmaCalibration.mat
Signal Simulation/Calibration Curves/SNR 2.5/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 2.5/SigmaCalibration.mat
Signal Simulation/Calibration Curves/SNR 3/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 3/SigmaCalibration.mat
Signal Simulation/Calibration Curves/SNR 4/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 4/SigmaCalibration.mat
Signal Simulation/Calibration Curves/SNR 5/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 5/SigmaCalibration.mat
Signal Simulation/Calibration Curves/SNR 7.5/MeanCalibration.mat
Signal Simulation/Calibration Curves/SNR 7.5/SigmaCalibration.mat
